<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178863230193-qfcpdj2plev71slrvebccoof871gkoub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178863230193-qfcpdj2plev71slrvebccoof871gkoub</string>
	<key>API_KEY</key>
	<string>AIzaSyADB-GBOYjKAPfYZGo2PZdnd8qO-FNgRoM</string>
	<key>GCM_SENDER_ID</key>
	<string>178863230193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoappspogrn.grn.prod</string>
	<key>PROJECT_ID</key>
	<string>grn-moile</string>
	<key>STORAGE_BUCKET</key>
	<string>grn-moile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178863230193:ios:07598d51a3434ef194ad50</string>
	<key>DATABASE_URL</key>
	<string>https://grn-moile.firebaseio.com</string>
</dict>
</plist>